<ion-menu side="start">
  <ion-content>
    <ion-card text-center class="hide-card">
      <!-- <img src="http://placehold.it/300x200" class="custom-avatar"/> -->
      <h2>Hlp</h2>
      <p>Bienvenido {{ (employee$ | async)?.firstName }}</p>
      <hr>
    </ion-card>

    <ion-list>
      <ion-list-header>
        Menú
      </ion-list-header>
      <ion-menu-toggle auto-hide="false">
        <ion-item button>
          <ion-icon slot="start" name='home'></ion-icon>
          <ion-label>
            Inicio
          </ion-label>
        </ion-item>
        <ion-item button (click)="logOut()">
          <ion-icon slot="start" name='exit'></ion-icon>
          <ion-label>
            Cerrar sesión
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" main>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>Tareas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</div>